In [1]:
import pandas as pd
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [2]:
dataset.head()

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30

In [3]:
dataset.mean()

C:\Users\lcsbi\AppData\Local\Temp/ipykernel_5464/1799472221.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean()

Idade    46.1
dtype: float64

In [4]:
dataset.groupby(['Sexo'])['Idade'].mean()

Sexo
H    45.750000
M    46.333333
Name: Idade, dtype: float64

In [5]:
# Forma alternativa de fazer a mesma coisa
dataset.groupby('Sexo').mean().loc['H']

Idade    45.75
Name: H, dtype: float64